{% extends "base.html" %}

{% block content %}
<h1>Кошик</h1>

{% if cart_items %}
<table class="table">
    <thead>
        <tr>
            <th>Страва</th>
            <th>Кількість</th>
            <th>Ціна</th>
            <th>Сума</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart_items %}
        <tr>
            <td>{{ item.dish.name }}</td>
            <td>
    <a href="{% url 'cart:cart_decrease' item.dish.id %}" 
       class="btn btn-sm btn-outline-danger">-</a>

    <span class="mx-2 fw-bold">{{ item.quantity }}</span>

    <a href="{% url 'cart:cart_increase' item.dish.id %}" 
       class="btn btn-sm btn-outline-success">+</a>
</td>
            <td>{{ item.dish.price }} грн</td>
            <td>{{ item.item_total }} грн</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h4>Разом: {{ total }} грн</h4>

<a class="btn btn-warning mt-3" href="{% url 'orders:checkout' %}">
    Оформити замовлення
</a>

{% else %}
<div class="alert alert-info">
    Кошик порожній
</div>
{% endif %}
{% endblock %}